
#server_status {
	width: 150px;
  float:left;
	margin-left: 25px;
	margin-right: 25px;
	}
#server_conn {
  width: 350px;
  float:left;
	margin-left: 25px;
	margin-right: 25px;
	}

#conn_log {
  width: 100%;
  float:left;
	margin-left: 25px;
	margin-right: 25px;
	}

#server_status h3 {
	text-align: center;
	margin-bottom: 0px;
	background: lightblue;
	padding-bottom:5px;
	padding-top: 5px;
	border: 2px solid black;
	border-bottom: 0px;
	
	}

#server_param {
 border: 2px solid black;
 padding: 0px 10px 0px 10px;
 }
 
#server_param input {
	float: right;
	width: 100px;
	}
	
#server_table {
 width: 350px;
 border: 2px solid black;
 padding: 0px 10px 0px 10px;
 border: 2px solid black;
 border-collapse: collapse;
 }
#server_table td {
  border: 1px solid black;
  }
#server_table .header {
  background-color: whitesmoke;
  }
  
#server_table td {
  font-weight: bold;
  padding-left: 4px;
  }
 
#server_table .inactive td {
  font-weight: normal;
  color: grey;
  }
#server_table .hover td {
  background-color: gainsboro;
  }
#server_table .select td {
  background-color: yellow;
  }

#server_conn h3 {
	text-align: center;
	margin-bottom: 0px;
	background: lightblue;
	padding-bottom:5px;
	padding-top: 5px;
	border: 2px solid black;
	border-bottom: 0px;
	
	}
#conn_log h3 {
	text-align: center;
	margin-bottom: 0px;
	background: lightblue;
	padding-bottom:5px;
	padding-top: 5px;
	border: 2px solid black;
	
	
	}

#conn_log_table {
 width: 100%;
 border: 2px solid black;
 padding: 0px 10px 0px 10px;
 border: 2px solid black;
 border-collapse: collapse;
 border-top : 0px;
 position: relative;
 bottom: 12px;
 }
 
#conn_log_table td {
  border: 1px solid black;
  padding-left: 8px;
  padding-right: 8px;
  }
  
#conn_log_table td.desc {
  width: 95%;
  }
#conn_log_table .header {
  background-color: whitesmoke;
  }
 
#conn_refresh, #conn_hex {
  
  position: relative;
  display: inline;
  width: 60px;
  bottom: 21px;
  left: 5px;
  font-size: 80%;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  margin: 5px;
  padding: 3px;
  background-color: whitesmoke;
  
  }

  
#conn_refresh.hover, #conn_hex.hover {
  background-color: gainsboro;
  }
#conn_hex.selected {
  background-color: yellow;
  }

.inline {
	display: inline;
	}
	
